# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.tar.gz
*.rar
.DS_Store
folders
crash-reports/
default-configs/
downloads/
essential/
fancymenu_data/
fancymenu_setup/
journeymap/
logs/
mod_data/
modernfix/
saves/
screenshots/
XaeroWaypoints/
XaeroWorldMap/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
